packaging 
soundfile 
swifter 
joblib==1.1.1 
indic-nlp-library
tqdm==4.56.0
numpy==1.22.2 
pandas==1.2.2 
progressbar2==3.53.1
python_Levenshtein==0.12.2 
editdistance==0.3.1 
omegaconf==2.0.6
tensorboard==2.4.1 
tensorboardX==2.1 
wandb 
jiwer 
jupyterlab
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
